Repository googleapis/python-spanner-django, pull requests merged in 2020-10, with the labels that each got.

#520 refactor: rename `Column` class into `ColumnInfo`, cover it with unit tests
  google/cloud/spanner_dbapi/cursor.py
  tests/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes, type: process

#524 fix: permanently broken date & time tests
  tests/spanner_dbapi/test_types.py
Labels: api: spanner, cla: yes, type: bug

#521 feat: Implementing DB-API types according to the PEP-0249 specification
  google/cloud/spanner_dbapi/types.py
  tests/spanner_dbapi/test_types.py
  tests/spanner_dbapi/test_utils.py
Labels: api: spanner, cla: yes, type: feature request

#522 refactor: verify and comment the DB API exceptions
  google/cloud/spanner_dbapi/exceptions.py
Labels: api: spanner, cla: yes, type: process

#525 refactor: update expect() parse function
  google/cloud/spanner_dbapi/parser.py
  tests/spanner_dbapi/test_parser.py
Labels: api: spanner, cla: yes, type: process

#523 refactor: refactor Connection() class and cover it with unit tests
  django_spanner/features.py
  google/cloud/spanner_dbapi/__init__.py
  google/cloud/spanner_dbapi/connection.py
  tests/spanner_dbapi/test_connection.py
Labels: api: spanner, cla: yes, type: process

#533 refactor: update parse functions, add unit tests
  google/cloud/spanner_dbapi/parse_utils.py
  tests/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes, type: process

#536 test: run system tests against emulator
  .github/workflows/system-tests-against-emulator.yaml
  noxfile.py
Labels: api: spanner, cla: yes, type: process

#538 refactor: typo fix
  docs/conf.py
Labels: cla: yes

#535 feat: support transactions management
  google/cloud/spanner_dbapi/__init__.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/spanner_dbapi/test_connect.py
  tests/spanner_dbapi/test_connection.py
  tests/system/test_system.py
Labels: api: spanner, cla: yes, type: feature request

#532 chore: unit test coverage and additional refactoring for `spanner_dbapi`
  google/cloud/spanner_dbapi/__init__.py
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parser.py
  google/cloud/spanner_dbapi/version.py
  noxfile.py
  tests/spanner_dbapi/test_cursor.py
  tests/spanner_dbapi/test_version.py
  tests/unit/__init__.py
  tests/unit/spanner_dbapi/__init__.py
  tests/unit/spanner_dbapi/test__helpers.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_globals.py
  tests/unit/spanner_dbapi/test_parse_utils.py
  tests/unit/spanner_dbapi/test_parser.py
  tests/unit/spanner_dbapi/test_types.py
  tests/unit/spanner_dbapi/test_utils.py
Labels: api: spanner, cla: yes, type: process
