Repository googleapis/python-spanner-django, pull requests merged in 2020-08, with the labels that each got.

#468 feat: [WIP] The first stage of `nox` implementation
  .gitignore
  .kokoro/build.sh
  noxfile.py
  runtests.py
  tox.ini
Labels: api: spanner, cla: yes, type: process

#462 feat: refactor connect() function, cover it with unit tests
  django_spanner/base.py
  setup.cfg
  spanner_dbapi/__init__.py
  tests/spanner_dbapi/test_connect.py
  tox.ini
Labels: api: spanner, cla: yes, type: feature request

#473 feat: Stage 2 of `nox` implementation - adding `docs` target
  .gitignore
  README.md
  README.rst
  docs/README.rst
  docs/_templates/layout.html
  docs/api-reference.rst
  docs/changelog.md
  docs/conf.py
  docs/connection-usage.rst
  docs/index.rst
  noxfile.py
  setup.py
Labels: api: spanner, cla: yes, type: docs, type: process

#469 fix: Fix black, isort compatibility
  django_spanner/__init__.py
  django_spanner/base.py
  django_spanner/client.py
  django_spanner/compiler.py
  django_spanner/creation.py
  django_spanner/expressions.py
  django_spanner/features.py
  django_spanner/functions.py
  django_spanner/introspection.py
  django_spanner/lookups.py
  django_spanner/operations.py
  django_spanner/schema.py
  django_spanner/utils.py
  django_spanner/validation.py
  pyproject.toml
  setup.cfg
  spanner_dbapi/__init__.py
  spanner_dbapi/connection.py
  spanner_dbapi/cursor.py
  spanner_dbapi/parse_utils.py
  spanner_dbapi/parser.py
  spanner_dbapi/types.py
  spanner_dbapi/utils.py
  spanner_dbapi/version.py
  tests/spanner_dbapi/test_globals.py
  tests/spanner_dbapi/test_parse_utils.py
  tests/spanner_dbapi/test_parser.py
  tests/spanner_dbapi/test_types.py
  tests/spanner_dbapi/test_utils.py
  tests/spanner_dbapi/test_version.py
  tox.ini
Labels: api: spanner, cla: yes

#478 feat: Stage 3-4 of `nox` implementation - adding auto-format targets
  django_spanner/base.py
  django_spanner/compiler.py
  django_spanner/introspection.py
  django_spanner/operations.py
  django_spanner/schema.py
  django_spanner/utils.py
  docs/conf.py
  noxfile.py
  setup.cfg
  setup.py
  spanner_dbapi/connection.py
  spanner_dbapi/cursor.py
  spanner_dbapi/parse_utils.py
  tests/spanner_dbapi/test_connect.py
  tests/spanner_dbapi/test_parse_utils.py
  tests/spanner_dbapi/test_parser.py
  tests/spanner_dbapi/test_types.py
  tests/spanner_dbapi/test_utils.py
  tests/spanner_dbapi/test_version.py
  tox.ini
Labels: api: spanner, cla: yes, type: process

#479 feat: Stage 5 of `nox` implementation - adding coverage targets
  .coveragerc
  noxfile.py
Labels: api: spanner, cla: yes, type: process
