Repository googleapis/python-spanner-django, pull requests merged in 2020-11, with the labels that each got.

#543 feat: clear session pool on connection close
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, cla: yes, type: feature request

#546 chore: rephrasing `DatabaseClient.runshell()` exception
  django_spanner/client.py
Labels: api: spanner, cla: yes, type: cleanup

#550 fix: Use "any" default role in sphinx
  docs/conf.py
Labels: api: spanner, cla: yes

#516 feat: avoid adding dummy WHERE clause into UPDATE and DELETE queires
  django_spanner/compiler.py
  django_spanner/utils.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes, type: feature request

#556 fix: a misspelled word fix
  README.rst
Labels: api: spanner, cla: yes

#557 refactor!: Update python-spanner dep, drop py 3.5
  noxfile.py
  setup.py
Labels: api: spanner, cla: yes

#554 refactor!: erase dbapi directory and all the related tests
  .github/workflows/system-tests-against-emulator.yaml
  django_spanner/compiler.py
  django_spanner/introspection.py
  google/__init__.py
  google/cloud/__init__.py
  google/cloud/spanner_dbapi/__init__.py
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/exceptions.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parser.py
  google/cloud/spanner_dbapi/types.py
  google/cloud/spanner_dbapi/utils.py
  google/cloud/spanner_dbapi/version.py
  noxfile.py
  tests/spanner_dbapi/test_connect.py
  tests/spanner_dbapi/test_connection.py
  tests/system/test_system.py
  tests/unit/spanner_dbapi/__init__.py
  tests/unit/spanner_dbapi/test__helpers.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_globals.py
  tests/unit/spanner_dbapi/test_parse_utils.py
  tests/unit/spanner_dbapi/test_parser.py
  tests/unit/spanner_dbapi/test_types.py
  tests/unit/spanner_dbapi/test_utils.py
Labels: api: spanner, cla: yes, cleanup, type: cleanup
